# Dependencias
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/dist
/build
/.angular

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Entorno
.env
.env.local
.env.production

# Otros
.DS_Store
*.log
